* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  &.noscroll {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
}
.row {
  @include makeRow();
  & > div {
    box-sizing: border-box;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background: #f8fcfd;
  @include screen('mobile') {
    overflow: hidden;
    overflow-y: auto;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  margin: 0 auto;
  max-width: $containerMax; //請看_variable.scss
  position: relative;
  @include containerFixed;
  @include screen('tablet') {
    padding: 0 15px;
  }
}
.main {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background: #f7fbfc url(../images/main_bg.jpg) no-repeat top right;
  @include screen('mobile') {
    padding-top: 80px;
  }
  // 可先設定一個中央區塊最大寬，限制accessKey對齊
  h2 {
    line-height: 1.25em;
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerPage ClassName
.innerPage {
  padding-top: 1em;
  & > .container {
    padding-top: 1em;
    padding: 0 90px;
    @include screen('tablet') {
      padding: 0 45px;
    }
    @include screen('mobile') {
      padding: 0 15px;
    }
  }
  .centerBlock {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.bottom {
  position: relative;
  background: url(../images/footer_bg.jpg), linear-gradient(100deg, rgb(13, 75, 107, 1) 42%, rgb(21, 100, 132, 1) 46%, rgb(21, 100, 132, 1) 55%, rgba(1, 143, 156, 1) 100%);
  background-position: left top;
  background-size: 50%, 100%;
  background-repeat: no-repeat;
  padding-top: 2em;
  overflow: hidden;
  @include screen('mobile') {
    background-size: 100%;
  }
  &::before {
    content: '';
    display: block;
    width: 500px;
    height: 560px;
    position: absolute;
    left: 400px;
    top: -50px;
    background: linear-gradient(90deg, rgb(13, 75, 107, 1) 50%, rgb(21, 100, 132, 0) 100%);
    border-radius: 74% 0% 0% 39% / 57% 0% 0% 43%;
    @media screen and (min-width: 1440px) {
      left: calc((100% - 650px) / 2);
    }
    @include screen('mobile') {
      left: 0;
      height: 800px;
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}
